In [1]:
# № 12244 ЕГКР 16.12.23 (Уровень: Базовый)
# s = "3" + n * "5"
lst = []
for n in range(4,10000):
    s = "3" + n * "5"
    while "333" in s or "555" in s:
        if "555" in s:
            s = s.replace("555", "3", 1)
        else:
            s = s.replace("333", "5", 1)
    
    sm = sum(map(int,s))
    lst.append(sm)
print(max(lst))

26

In [4]:
# 	№ 11231 (Уровень: Средний)
lst = []
for n in range(3,2000):
    s = n * "3" + "5"
    while "23" in s or "5333" in s or "33333" in s:
        if "23" in s:
            s = s.replace("23", "3", 1)
        if "5333" in s:
            s = s.replace("5333", "32", 1)
        if "33333" in s:
            s = s.replace("33333", "55", 1)
    sm = sum(map(int,s))
    lst.append(sm)
print(min(lst))

10

In [37]:

for n in range(1,50):
    for m in range(1,50):
        for k in range(1,50):
            s = "0" + "1" * n + "2" * m + "3" * k + "0"
            while "00" not in s :
                    
                s = s.replace("01", "210", 1)
                s = s.replace("02", "320", 1)
                s = s.replace("03", "3012", 1)
            if s.count("1") == 26 and s.count("2") == 54 and s.count("3") == 48:
                print(2+n+m+k)  
            #print(s)

36

In [39]:
for a in range(0,10):
    for b in range (0,10):
        print(a,b)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9